# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/alembic/versions/*.py

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
*.DS_Store

# IDE
.idea/
.vscode/
*.swp
